# Python Bytecode
__pycache__/
*.py[cod]

# Backup files
*~
*.bak

# IDE files
.vscode/
.idea/

# Environments
.env

# Logs
*.log

# Node modules
node_modules/

# MacOS system files
.DS_Store

# Miscellaneous
*.swp
*.swo

CHAT/chat-sample/.env.local
CHAT/chat-sample/.env.local
/CHAT/eliza
